<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_2"
        android:label="Smart Cook"
        android:roundIcon="@mipmap/logo_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.CookSmart_N19"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".activities.RecipeAIListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecipeAIStepsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CookingAIActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CookingAIStepsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecipeAIOverviewActivity"
            android:exported="false" />
        <activity android:name=".activities.EditProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.CookingStepsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PrepareIngredientsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddEditRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MyRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>